.venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

list.txt
.idea
templates/Brackets

identifier.sqlite

videos/
references/
pycharmrunconfigs/.run/
codereferences/
