body {
  background-color: #878787;
}

div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    /*width: 100%;
    height: auto;*/
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    height: 100px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 10px 10px;
    float: left;
    width: 300px;
    height: 300px;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }