<!doctype html>
<head>
<title>Yaytarch</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='w3.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
  .w3-bar-block .w3-bar-item {padding:20px}
  </style>
</head>

<body>
<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left"><a href="{{ url_for('collections.index') }}" style="text-decoration:none">Home</a></div>
    <div class="w3-right w3-padding-16">ADD_VID_FUNCT</div>
    <div class="w3-center w3-padding-16">COLLECTION_NAME</div>
  </div>
</div>

  {% block header %}{% endblock %}
  {% for message in get_flashed_messages() %}

  <!-- TODO: Add flash class -->
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

</body>