<!DOCTYPE html>
<html>
  <head>
    <style>
    * {
    box-sizing: border-box;
    }

    .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
    content: "";
    clear: both;
    display: table;
    }

    .center {
      text-align: center
    }
    </style>
  </head>
  <body>
    <a href="{{ url_for('collections.index') }}" style="text-decoration:none">Home</a>

  {% block header %}{% endblock %}
  {% for message in get_flashed_messages() %}

  <!-- TODO: Add flash class -->
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
    
  </body>
</html>