<!DOCTYPE html>
<html>
  <head>
    <style>
    * {
    box-sizing: border-box;
    }

    .column {
    float: left;
    width: 33.33%;
    padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
    content: "";
    clear: both;
    display: table;
    }
    </style>
  </head>
  <body>
    <a href="{{ url_for('collections.index') }}" style="text-decoration:none">Home</a>
    <h2>Images Side by Side</h2>
    <p>How to create side-by-side images with the CSS float property:</p>

    <div class="row">
      <div class="column">
        <img src="img_snow.jpg" alt="Snow" style="width:100%">
      </div>
      <div class="column">
        <img src="img_forest.jpg" alt="Forest" style="width:100%">
      </div>
      <div class="column">
        <img src="img_mountains.jpg" alt="Mountains" style="width:100%">
    </div>

  {% block header %}{% endblock %}
  {% for message in get_flashed_messages() %}

  <!-- TODO: Add flash class -->
  <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
    
  </body>
</html>