{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Collections{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for collection in collections %}
    <article class="post">
      <header>
        <div>
          <h1>{{ collection['vcname'] }}</h1>
          <div class="about">by {{ collection['shorturl'] }}, id {{ collection['id'] }} <li><a href="{{ url_for('collections.viewcollection', collection_id=collection['id']) }}">Name test</a></div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
</section>