{% extends 'base.html' %}

{% block content %}
<div class="toolbar"><a href="{{ url_for('collections.index') }}" style="text-decoration:none">Home</a> <br></div>
{% for video in videos %}
<div class="responsive">
  <div class="gallery">
    <a href="{{ url_for('videos.viewvideo', videoid=video.id) }}">
      <img src="{{ url_for('videos.load_picture', videoid=video.id) }}" alt="thumbnail not found" >
    </a>
    <div class="desc"><b> {{ video['title'] }} </b></div>
  </div>
</div>
{% endfor %}
{% endblock %}
