
  {% extends 'base.html' %}

  {% block content %}
      <div class="toolbar"><a href="{{ url_for('collections.index') }}" style="text-decoration:none">Home</a> <br></div>
      <br>
    <!-- !PAGE CONTENT! -->
  <div class="center">
    <div class="flash">{{ message }}</div>

    <!-- Video playlist management !-->
      <div class="video"> <!-- NEW !-->
             {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
    <center>
      <h1>{{ video.title }}</h1>
          <video width="600" height="400" controls>
            <source src="{{ url_for('videos.load_video', videoid=video.id) }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>

        <!-- Video playlist management !-->
      <div class="playlistchoice">Add to collection:
          <form method="POST"><select name="value" id="value">
            {% for notincollections in notincollections %}<option value="{{ notincollections.id }}">{{ notincollections.vcname }}</option>{% endfor %}</select><input type="submit" value="Add" id="button"></form>
      Remove from collection:<form method="POST">
      <select name="valueR" id="valueR">
          {% for incollection in incollections %}<option value="{{ incollection.id }}">{{ incollection.vcname }}</option>{% endfor %}</select><input type="submit" value="Remove" id="buttonR"></form>
        </div>

          <p> {{ video.descr }} </p></center>
    </div>
  <!-- End page content -->
  </div>
  {% endblock %}