{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Videos{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for video in videos %}
    <article class="post">
      <header>
        <div>
          <h1>ID: {{ video['id'] }}</h1>
          <div class="about"> SHURL: {{ video['shorturl'] }}, LOC: {{ video['loc'] }}, DWNLED: {{ video['downloaded'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
</section>